.panel {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  line-height: 1;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(53, 52, 50);
  color: rgb(251, 251, 251);
  padding: 1em;
}

.header-section > * {
  margin: 0;
}

.games-section {
  overflow: auto;
  background-color: rgb(78, 77, 74);
  color: rgb(251, 251, 251);
  padding: 1em;
}

.game-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.75em;
  margin-bottom: 0.75em;
}

.game-container:last-child {
  margin-bottom: 0;
}

.game-title {
  margin: 0;
  transform: translateY(-3px);
}

.game-boxart {
  height: 90px;
  width: 64px;
  grid-row: span 2;
  grid-column: span 1;
  border-radius: 4px;
}

.category-list .form-group {
  margin: 0;
}

.category-list.game-selected {
  opacity: 0.75;
}

div.form-group {
  margin-bottom: 0;
}

.custom-control {
  min-height: unset;
}

.game-line.custom-control {
  margin-bottom: 0.5rem;
}

.category-line.custom-control {
  margin-bottom: 0.4rem;
}

.custom-control-label:before,
.custom-control-label:after {
  top: 0;
}

.custom-control-label:hover:after {
  cursor: pointer;
}

.game-line > .custom-control-label {
  color: rgb(253, 253, 253);
  font-size: 20px;
}

.game-line > .custom-control-label:before,
.game-line > .custom-control-label:after {
  transform: translateY(1px);
}

.category-line > .custom-control-label {
  color: rgb(228, 228, 228);
  font-size: 14px;
  margin-left: 1.5rem;
}

.category-line > .custom-control-label:before,
.category-line > .custom-control-label:after {
  transform: translateY(-1px);
}

.input-group-text {
  padding: 0.375rem;
}

.svg-inline--fa {
  font-size: 1.5em;
}

.button-section {
  background-color: rgb(78, 77, 74);
  display: flex;
  align-items: center;
}

.btn {
  margin: 0 16px 16px 16px;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}